

body {
    font-family: Arial, sans-serif;
    margin: 20px;
      background: url("https://udes.edu.co/images/micrositios/museo/galeria/_0013__MG_7650.jpg") no-repeat center center / cover;
    color: #353434;
}

main {
    max-width: 600px;
    margin: auto;
    text-align: center;
}


.instrucciones {
    background-color: #f1f1f1;
    border-left: 5px solid #0352A6;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.instrucciones h3 {
    margin-top: 0;
    color: #0352A6;
}
.seleccion-corte h3 {
    color: #ffffff;
}
#resultado {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
    color: #181414;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 1px dashed #000000;
    display: inline-block;
    text-align: left;
}

.nota-grupo {
    margin-bottom: 15px;
    
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 40%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #0352A6;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0055aa;
}

.botones {
    margin-top: 20px;
}


.resultado {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #222;
}
footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #000000;
    color: #000000;
     background-color:  #0352A6;
     
}

.volver {
    margin-top: 30px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.img-loader {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.texto-loader {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
}
